{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
	<link href="{% static 'style.css' %}" rel="stylesheet">
{% endblock custom_css %}


{% block content %}
    <div class="container  mt-3 mb-3">
        <div class="mt-5 mb-5">
            <p>選択したタスクを削除しますか？</p>
        </div>
        <div class="mt-3 mb-3">
            <form action="" method="post">{% csrf_token %}
                <input type="submit" value="削除する">
            </form>
        </div>
    </div>
{% endblock content %}